<section class="content-header no-margin">
</section>

<!-- Main content -->
<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <!-- BOXES are complex enough to move the .box-header around.
                                 This is an example of having the box header within the box body -->
                            <div class="box-header">
                                <i class="fa fa-inbox"></i>
                                <h3 class="box-title">My Tasks</h3>
                            </div>
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="header">Folders</li>
                                    <li class="active"><a href="javascript:  showMyTaskPane()"><i class="fa fa-inbox"></i> Tasks Inbox <span id="unread_tasks"></span></a></li>
                                    <li><a href="javascript: showMyConfirmedTasks()"><i class="mdi mdi-action-done-all"></i> Confirmed Tasks</a></li>
                                    <li><a href="javascript:  showMyCompletedTasks()"><i class="ion ion-checkmark"></i> Completed Tasks</a></li>
                                    <li><a href="javascript: showMyDueTasks()"><i class="ion ion-android-alarm"></i> Due Tasks</a></li>
                                </ul>
                            </div>
                        </div><!-- /.col (LEFT) -->
                        <div class="col-md-9 col-sm-8">
                            <div class="row pad">
                                <div class="col-sm-6">
                                    <label style="margin-right: 10px;">
                                        <input type="checkbox" id="check-all"/>
                                    </label>
                                    <!-- Action button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Mark as read</a></li>
                                            <li><a href="#">Mark as unread</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Move to junk</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-sm-6 search-form">
                                    <form action="#" class="text-right">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.row -->
                            <div class="col-md-4">
                                <!-- THE MESSAGES -->
                                <table class="table" id="nurse_tasks_div">

                                </table>
                            </div><!-- /.table-responsive -->

                            <div class="col-md-8">
                                <!-- Info box -->
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title" id="info_title">Task Title</h3>
                                        <div class="box-tools pull-right">
                                            <div class="label bg-aqua" id="info_confirmed">Confirmed</div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p id="info_desc">Description
                                        </p>


                                    </div><!-- /.box-body -->
                                    <div class="box-footer" >
                                        <span id="info_due_date">Due Date</span>
                                        <span class="pull-right">
                                            <span class="ion ion-android-alarm"></span>
                                            <span id="info_due_time">Due Time</span>
                                        </span>
                                    </div><!-- /.box-footer-->
                                </div><!-- /.box -->
                            </div><!-- /.col -->

                        </div><!-- /.col (RIGHT) -->
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        <small>Showing 1-12/1,240</small>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-left"></i></button>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-right"></i></button>
                    </div>
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->

</section><!-- /.content -->