<div class="upper_content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="tasks_completed">
                        150
                    </h3>
                    <p>
                        District Tasks
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios7-filing"></i>
                </div>
                <a href="javascript:alert()" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        53
                    </h3>
                    <p>
                        Tasks Completed
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-checkmark"></i>
                </div>
                <a href="javascript: loadClinicTasks()" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        44
                    </h3>
                    <p>
                        Unconfirmed Tasks
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-buffer"></i>
                </div>
                <a href="javascript: loadClinicTasks()" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        65
                    </h3>
                    <p>
                        Overdue Tasks
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-alarm"></i>
                </div>
                <a href="javascript: loadClinicTasks()" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
</div>